/* Resetting some default styles */
body, h2, h3, table, th, td, label, input, button {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f9f9f9;
    color: #333;
    padding: 20px;
    background-image: url('../img/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; /* Esto hará que la imagen de fondo permanezca fija al desplazarse por la página */

}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px;
    border: 1px solid #e0e0e0;
    text-align: center;
}

th {
    background-color: #f5f5f5;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}


main.table {
    width: 82vw;
    height: 90vh;
    background-color: #fff5;

    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;

    overflow: hidden;
}

form {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 15px 15px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
    max-width: 1500px;
    overflow: auto; /* Barra de desplazamiento */
    /*Centrar el contenedor*/
    margin: 0 auto;
}
